* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  .nav-container {
      background-color: whitesmoke;
    }
    
    .nav-parent {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;
      border-bottom: 2px solid gray;
    }
    
    .logo {
      color: teal;
    }
    
    .nav-links {
      display: flex;
      gap: 2rem;
      padding: 0.5rem 0;
    }
    .nav-link {
      text-decoration: none;
      color: teal;
      font-weight: bold;
    }
    
    .nav-btn {
      background-color: teal;
      color: white;
      font-weight: bold;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
    }


    
/* 

HEADER 

*/

.header-container {
    background-color: whitesmoke;
  }
  
  .header-parent {
    padding: 4rem 0;
  }
  
  .header-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 4rem 0;
  }
  
  .header-head {
    width: 46rem;
    font-size: 3.5rem;
    color: teal;
    text-align: center;
  }
  
  .header-para {
    width: 37rem;
    color: gray;
    text-align: center;
  }
  
  .header-btn {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  .donate-btn {
    background-color: orange;
    color: teal;
    font-weight: bold;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
  }
  
  .learn-btn {
    color: teal;
    font-weight: bold;
    padding: 0.9rem 1.4rem;
    border-radius: 0.5rem;
    border: 2px solid teal;
    cursor: pointer;
  }
  
 /* 

PROGRAM

*/

.program-container {
    padding: 4rem 0;
  }
  
  .program-parent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .program-header {
    font-size: 2rem;
    color: teal;
    text-align: center;
  }
  
  .program-para {
    color: gray;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .program-child_Area {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4rem;
  }
  
  .program-child_Card {
    width: 45%;
    height: 15rem;
    border: 1px solid teal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: .5rem;
  }
  
  .pro-fig {
    width: 45%;
    height: 12rem;
    /* border: 2px solid lightblue; */
  }
  
  .pro-img{
      width: 100%;
      height: 100%;
      border-radius: .5rem;
  }
  
  .pro-textArea {
    width: 45%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }
  
  .proParaOne {
      font-weight: bold;
      color: teal;
  }
  
  .proParaTwo {
      color: gray;
  }
  
  .pro-btn {
      border: none;
      background-color: white;
      color: teal;
      width: 5rem;
      font-weight: bold;
  }
  
  .pro-btn:hover{
      color: orange;
      text-decoration: underline;
  }

      
.donate-container {
    background-image: url(./assert/philippe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .donate-parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .donate-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    color: white;
  }
  
  .donate-title {
    color: rgb(8, 228, 228);
    font-size: 38px;
    text-align: center;
  }
  
  .donate-content {
    font-size: 16px;
    line-height: 1.5;
    color: #e6e2e2;
  }
  
  .donate-btn {
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 0.1rem;
    padding: 0.6rem 1.1rem;
  }
  
  .donate-btn:hover {
    background-color: #fff;
    color: orange;
  }

  .title-style {
    border: 3px solid orange;
    padding: 0.2rem 0.3rem;
    border-radius: 50%;
  }


  /* 

footer 

*/


.footer-container {
    padding: 5rem 0;
    list-style: none;
    background-color: whitesmoke;
  }
  
  .footer-parent-container {
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
  }
  
  .footer-parent-container h3 {
    font-size: 18px;
  }
  
  .footer-address {
    color: #555;
    margin-bottom: 0.5rem;
    font-size: 16px;
  }
  
  .footer-parent-container a {
    text-decoration: none;
    font-size: 16px;
    color: #1a1a1a;
  }
  
  .footer-parent-container a:hover {
    color: teal;
    text-decoration: underline;
  }
  
  .footer-title {
    margin-bottom: 1rem;
  }
  
  .footer-icons-container {
    font-size: 1.8rem;
    color: teal;
  }
  
  .parent-signup-con p {
    margin-top: 0.8rem;
    font-size: 16px;
    color: #555;
  }
  
  .footer-signup-container {
    width: 100%;
    text-align: center;
    display: flex;
    height: 2rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .footer-input {
    padding: 0.5rem;
    font-size: 14px;
    border-right: none;
    border: none;
  }
  
  input[type="text"] {
    border: none;
    outline: none;
  }
  
  .footer-btn {
    background-color: teal;
    padding: 0.5rem 0.5rem;
    color: #fff;
    border: none;
  }
  
  .copyright-p {
    text-align: center;
    color: #555;
    font-size: 14px;
    margin-top: 3rem;
    padding-top: 0.5rem;
    border-top: 1px solid #dedede;
  }