*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1,h2,h3,h4{
  color: teal;
}


.row{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.initiatives-container{
    background-color:whitesmoke;
}

.initiative-con-parent{
    padding: 3rem 0;
}

.i-header-container{
    text-align: center;
    margin-bottom: 3rem;
}

.i-header-title{
    font-size: 36px;
    padding: .8rem 0;
    word-spacing: -0.4rem;

}

.title-style{
    border: 3px solid orange;
    padding: .2rem .3rem;
    border-radius: 50%;
}

.i-header-description{
    color: #555;
    font-size: 14px;
}

.i-cards-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.i-card-parent-container{
    width: 30%;
}

.card-img-container{
    width: 100%; 
}
.card-img{
    width: 100%; 
    height: 12rem;  
}

.card1-description-container{
    color: #555;
    width: 100%;
}

.i-card-title{
    margin: .5rem;
}

.card-content{
    font-size: 12px;
    margin: .5rem 0;
    line-height: 2;
    width: 100%;
}

.card-btn{
    margin-top: 1rem;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: .1rem;
    font-size: 14px;
    padding: .5rem .5rem;
}

.card-btn:hover{
    background-color: #fff;
    border: .5px solid teal;
    color: teal;
}

/* below are styles for donate amount section */

.donate-container{
    background-image: url(./assert/philippe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.donate-parent-container{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.donate-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    color: white;

}

.donate-title{
    color: rgb(8, 228, 228);
    font-size: 38px;
    text-align: center;
}

.donate-content{
    font-size: 16px;
    line-height: 1.5;
    color: #e6e2e2;
}

.donate-btn{
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: .1rem;
    padding:.6rem  1.1rem;
}

.donate-btn:hover{
    background-color: #fff;
    color: orange;
}

/* below are styles for get involved section */

.gi-container{
   padding: 5rem 0;
    background-color: whitesmoke;
    
}

.gi-parent-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
    text-align: center;
    gap: 3rem;
    
}

.gi-header-container{
    width: 58%;

}

.gi-header-description{
    font-size: 16px;
    color: #555;
    margin: 1rem 0;
    
}

/* gi card area */

.gi-cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.gi-card-parent-container{
    display: flex;
    flex-direction: column;
    border: 2px solid teal;
    background-color: rgba(127, 255, 212, 0.42);
    border-radius: 1rem;
    padding: 2rem 2rem;
    width: 30%;
}

.gi-header-title{
    font-size: 36px;
}

.gi-card2{
    background-color: antiquewhite;
}

.gi-card3{
   background-color: rgba(0, 140, 255, 0.258);
}

.gi-card-title{
    font-size: 18px;
    padding: .5rem;
}

.gi-card-content{
    font-size: 15px;
    padding-top: .5rem;
    color: #555;
    text-transform: capitalize;

}

.card-icon-container{
    color: teal;
    font-size: 4rem;
}

.gi-card-btn{
    margin-top: 3rem;
    border: none; 
    padding: .5rem 1rem; 
    color: white; 
    background-color: teal;
}

.gi-card-btn:hover{
    background-color: white;
    color: teal;
    cursor: pointer;
}

/* below are the styles for call section */

.call-container{
    padding: 3rem 0;
    background-color: rgb(2, 68, 68);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.call-parent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.call-header-container{
    width: 50%;
}

.call-header-title{
    text-transform: capitalize;
    color: white;
    font-size: 36px;
}

.call-content-container{
    text-transform: capitalize;
    color: #dedede;
    font-size: 16px;
    width: 57%;
}

.call-button-container{
    margin-top: 2.5rem;
}

.call-btn{
    color: teal;
    background-color: orange;
    border: none;
    padding: .5rem 1rem;
    border-radius: .2rem;
}

.call-btn:hover{
    background-color: white;
    color: orange;
    cursor: pointer;
}