
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1,h2,h3,h4{
  color: teal;
}


.row{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.initiatives-container{
    background-color:whitesmoke;
}

.initiative-con-parent{
    padding: 3rem 0;
}

.i-header-container{
    text-align: center;
    margin-bottom: 3rem;
}

.i-header-title{
    font-size: 36px;
    padding: .8rem 0;
    word-spacing: -0.4rem;

}

.title-style{
    border: 3px solid orange;
    padding: .2rem .3rem;
    border-radius: 50%;
}

.i-header-description{
    color: #555;
    font-size: 14px;
}

.i-cards-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.i-card-parent-container{
    width: 30%;
}

.card-img-container{
    width: 100%; 
}
.card-img{
    width: 100%; 
    height: 12rem;  
}

.card1-description-container{
    color: #555;
    width: 100%;
}

.i-card-title{
    margin: .5rem;
}

.card-content{
    font-size: 12px;
    margin: .5rem 0;
    line-height: 2;
    width: 100%;
}

.card-btn{
    margin-top: 1rem;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: .1rem;
    font-size: 14px;
    padding: .5rem .5rem;
}

.card-btn:hover{
    background-color: #fff;
    border: .5px solid teal;
    color: teal;
}

/* below are styles for donate amount section */

.donate-container{
    background-image: url(./assert/philippe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.donate-parent-container{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.donate-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    color: white;

}

.donate-title{
    color: rgb(8, 228, 228);
    font-size: 38px;
    text-align: center;
}

.donate-content{
    font-size: 16px;
    line-height: 1.5;
    color: #e6e2e2;
}

.donate-btn{
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: .1rem;
    padding:.6rem  1.1rem;
}

.donate-btn:hover{
    background-color: #fff;
    color: orange;
}

/* below are styles for get involved section */

.gi-container{
   padding: 5rem 0;
    background-color: whitesmoke;
    
}

.gi-parent-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
    text-align: center;
    gap: 3rem;
    
}

.gi-header-container{
    width: 58%;

}

.gi-header-description{
    font-size: 16px;
    color: #555;
    margin: 1rem 0;
    
}

/* gi card area */

.gi-cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.gi-card-parent-container{
    display: flex;
    flex-direction: column;
    border: 2px solid teal;
    background-color: rgba(127, 255, 212, 0.42);
    border-radius: 1rem;
    padding: 2rem 2rem;
    width: 30%;
}

.gi-header-title{
    font-size: 36px;
}

.gi-card2{
    background-color: antiquewhite;
}

.gi-card3{
   background-color: rgba(0, 140, 255, 0.258);
}

.gi-card-title{
    font-size: 18px;
    padding: .5rem;
}

.gi-card-content{
    font-size: 15px;
    padding-top: .5rem;
    color: #555;
    text-transform: capitalize;

}

.card-icon-container{
    color: teal;
    font-size: 4rem;
}

.gi-card-btn{
    margin-top: 3rem;
    border: none; 
    padding: .5rem 1rem; 
    color: white; 
    background-color: teal;
}

.gi-card-btn:hover{
    background-color: white;
    color: teal;
    cursor: pointer;
}

/* below are the styles for call section */

.call-container{
    padding: 3rem 0;
    background-color: rgb(2, 68, 68);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.call-parent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.call-header-container{
    width: 50%;
}

.call-header-title{
    text-transform: capitalize;
    color: white;
    font-size: 36px;
}

.call-content-container{
    text-transform: capitalize;
    color: #dedede;
    font-size: 16px;
    width: 57%;
}

.call-button-container{
    margin-top: 2.5rem;
}

.call-btn{
    color: teal;
    background-color: orange;
    border: none;
    padding: .5rem 1rem;
    border-radius: .2rem;
}

.call-btn:hover{
    background-color: white;
    color: orange;
    cursor: pointer;
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-container {
  background-color: whitesmoke;
}

.nav-parent {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 2px solid gray;
}

.logo {
  color: teal;
}

.nav-links {
  display: flex;
  gap: 2rem;
  padding: 0.5rem 0;
}
.nav-link {
  text-decoration: none;
  color: teal;
  font-weight: bold;
}

.nav-btn {
  background-color: teal;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

/* 

HEADER 

*/

.header-container {
  background-color: whitesmoke;
}

.header-parent{
    padding: 4rem 0;
}

.header-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
 padding: 4rem 0 ;
}

.header-head {
  width: 36rem;
  font-size: 3.5rem;
  color: teal;
  text-align: center;
}

.header-para {
    width: 37rem;
    color: gray;
    text-align: center;
}

.header-btn{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.donate-btn{
    background-color: orange;
    color: teal;
    font-weight: bold;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.learn-btn{
 
    color: teal;
    font-weight: bold;
    padding: .9rem 1.4rem;
    border-radius: 0.5rem;
    border: 2px solid teal; 
    cursor: pointer;
}

.header-picArea{
display: flex;
justify-content: space-between;
}

.header-picFig{
width: 50%;
height: 25rem;
/* border: 2px solid teal; */
}

.header-picFig_Two{
    width: 40%;
    height: 25rem;
    /* border: 2px solid teal; */
}

.header-picImg{
width: 100%;
height: 100%;
border-radius: 2rem 2rem 0 0;
}

.header-picImg_Two{
    width: 100%;
    height: 100%;
    border-radius: 2rem 2rem 0 0;
}

.header-card{
    width: 100%;
    height: 15rem;
    background-color: teal;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.header-cardBtn{
    color: orange;
    font-weight: bold;
    padding: .9rem 1.4rem;
    border-radius: 2rem;
    border: 2px solid orange; 
    cursor: pointer;
    background-color: teal;
    width: 7rem;
}

.header-cardPara{
font-size: 1.5rem;
color: white;
width: 40rem;
text-align: center;
}

.header-cardParaLink{
color: orange;
}

/* 

ANNUAL

*/

.annual-container{
  background-color: whitesmoke;
}

.annual-parent{
display: flex;
justify-content: space-between;
padding: 4rem 0;
}

.annual-fig_parent{
    width: 40%;
    height: 20rem;
    /* border:  2px solid teal; */
    display: flex;
    justify-content: space-between;
}

.annual-childText{
    width: 55%;
    height: 20rem;
    /* border:  2px solid teal; */
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 6rem ;
}

.annual-fig_one{
  width: 45%;
  height: 20rem;
  border: 2px solid teal;
  border-radius: .5rem;
}
.annual-fig_two{
  width: 45%;
  height: 20rem;
  border: 2px solid teal;
  margin-top: 2rem;
  border-radius: .5rem;
}

.annual-childHead{
  width: 28rem;
  font-size: 2.5rem;
  color: teal;
  /* text-align: center; */
}

.annual-childPara{
  color: gray;
  width: 30rem;
  line-height: 1.2rem;
}

.annual-childBtn{
  color: white;
  background-color: teal;
  font-weight: bold;
  padding: .9rem 1.4rem;
  border-radius: 0.5rem;
  border: 2px solid teal; 
  cursor: pointer;
  width: 10rem;
}


/* 

HELP 

*/

.help-container{
  background-color: whitesmoke;
  padding: 4rem 0;
}

.help-parent{
  width: 100%;
  height: 30rem;
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.help-childText{
width: 50%;
height: 25rem;
/* border: 2px solid teal; */
display: flex;
flex-direction: column;
gap: 1.5rem;
padding:  2rem;
}

.help-childImg{
  width: 45%;
  height: 25rem;
  /* border: 2px solid teal; */
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.help-childFig{
  width: 45%;
  height: 25rem;
  border: 2px solid teal;
}

.help-childFig_two{
  width: 45%;
  height: 25rem;
  /* border: 2px solid teal; */
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.help-childCards{
  width: 100%;
  height: 45%;
  border: 2px solid teal;
}

.help-header{
  width: 28rem;
  font-size: 2.5rem;
  color: teal;
}

.help-childPara{
  color: gray;
  width: 30rem;
  line-height: 1.2rem;
}

.help-btn{
  color: white;
  background-color: teal;
  font-weight: bold;
  padding: .9rem 1.4rem;
  border-radius: 0.5rem;
  border: 2px solid teal; 
  cursor: pointer;
  width: 10rem;
}



/* 

PROGRAM

*/

.program-container{
padding: 4rem 0;
}

.program-parent{
display: flex;
flex-direction: column;
gap: 1rem;
}

.program-header{
  font-size: 2rem;
  color: teal;
  text-align: center;
}

.program-para{
  color: gray;
  text-align: center;
  margin-bottom: 2rem;
}

.program-child_Area{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 4rem;
}

.program-child_Card{
width: 45%;
height: 15rem;
border: 2px solid teal;
>>>>>>> f151dab67756299d1e9e1f28a9dcf0a391c4c246
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
/* } */ 

h1,h2,h3,h4{
  color: teal;
}


/* .row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
} */

.initiatives-container{
    background-color:whitesmoke;
}

.initiative-con-parent{
    padding: 3rem 0;
}

.i-header-container{
    text-align: center;
    margin-bottom: 3rem;
}

.i-header-title{
    font-size: 36px;
    padding: .8rem 0;
    word-spacing: -0.4rem;

}

.title-style{
    border: 3px solid orange;
    padding: .2rem .3rem;
    border-radius: 50%;
}

.i-header-description{
    color: #555;
    font-size: 14px;
}

.i-cards-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.i-card-parent-container{
    width: 30%;
}

.card-img-container{
    width: 100%; 
}
.card-img{
    width: 100%; 
    height: 12rem;  
}

.card1-description-container{
    color: #555;
    width: 100%;
}

.i-card-title{
    margin: .5rem;
}

.card-content{
    font-size: 12px;
    margin: .5rem 0;
    line-height: 2;
    width: 100%;
}

.card-btn{
    margin-top: 1rem;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: .1rem;
    font-size: 14px;
    padding: .5rem .5rem;
}

.card-btn:hover{
    background-color: #fff;
    border: .5px solid teal;
    color: teal;
}

/* below are styles for donate amount section */

.donate-container{
    background-image: url(./assert/philippe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.donate-parent-container{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.donate-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    color: white;

}

.donate-title{
    color: rgb(8, 228, 228);
    font-size: 38px;
    text-align: center;
}

.donate-content{
    font-size: 16px;
    line-height: 1.5;
    color: #e6e2e2;
}

.donate-btn{
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: .1rem;
    padding:.6rem  1.1rem;
}

.donate-btn:hover{
    background-color: #fff;
    color: orange;
}

/* below are styles for get involved section */

.gi-container{
   padding: 5rem 0;
    background-color: whitesmoke;
    
}

.gi-parent-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
    text-align: center;
    gap: 3rem;
    
}

.gi-header-container{
    width: 58%;

}

.gi-header-description{
    font-size: 16px;
    color: #555;
    margin: 1rem 0;
    
}

/* gi card area */

.gi-cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.gi-card-parent-container{
    display: flex;
    flex-direction: column;
    border: 2px solid teal;
    background-color: rgba(127, 255, 212, 0.42);
    border-radius: 1rem;
    padding: 2rem 2rem;
    width: 30%;
}

.gi-header-title{
    font-size: 36px;
}

.gi-card2{
    background-color: antiquewhite;
}

.gi-card3{
   background-color: rgba(0, 140, 255, 0.258);
}

.gi-card-title{
    font-size: 18px;
    padding: .5rem;
}

.gi-card-content{
    font-size: 15px;
    padding-top: .5rem;
    color: #555;
    text-transform: capitalize;

}

.card-icon-container{
    color: teal;
    font-size: 4rem;
}

.gi-card-btn{
    margin-top: 3rem;
    border: none; 
    padding: .5rem 1rem; 
    color: white; 
    background-color: teal;
}

.gi-card-btn:hover{
    background-color: white;
    color: teal;
    cursor: pointer;
}

/* below are the styles for call section */

.call-container{
    padding: 3rem 0;
    background-color: rgb(2, 68, 68);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.call-parent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.call-header-container{
    width: 50%;
}

.call-header-title{
    text-transform: capitalize;
    color: white;
    font-size: 36px;
}

.call-content-container{
    text-transform: capitalize;
    color: #dedede;
    font-size: 16px;
    width: 57%;
}

.call-button-container{
    margin-top: 2.5rem;
}

.call-btn{
    color: teal;
    background-color: orange;
    border: none;
    padding: .5rem 1rem;
    border-radius: .2rem;
}

.call-btn:hover{
    background-color: white;
    color: orange;
    cursor: pointer;
}


.footer-container{
  padding: 5rem 0;
  list-style: none;
  background-color: whitesmoke;
}



.footer-parent-container{
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
}

.footer-parent-container h3{
  font-size: 18px;
}

.footer-address{
  color: #555;
  margin-bottom: .5rem;
  font-size: 16px;
}

.footer-parent-container a{
  text-decoration: none;
  font-size: 16px;
  color: #1a1a1a;
}

.footer-parent-container  a:hover{
   color: teal;
   text-decoration: underline;
}

.footer-title{
  margin-bottom: 1rem;
}

.footer-icons-container{
  font-size: 1.8rem;
  color: teal;
}

.parent-signup-con p{
margin-top: .8rem;
font-size: 16px;
color: #555;
}

.footer-signup-container{
  width: 100%;
  text-align: center;
  display: flex;
  height: 2rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.footer-input{
  padding: .5rem ;
  font-size: 14px;
  border-right: none;
  border: none;
}

input[type=text]{
  border: none;
  outline: none;
}

.footer-btn{
  background-color: teal;
  padding: .5rem .5rem;
  color: #fff;
  border: none;
 
}

.copyright-p {
  text-align: center;
  color: #555;
  font-size: 14px;
  margin-top: 3rem;
  padding-top: .5rem;
  border-top: 1px solid #dedede;
}